####################################
# OS
####################################
.DS_Store
.DS_*
Thumbs.db
Desktop.ini

####################################
# Editor
####################################
.idea/
*.user
*.suo
.vs/
.vscode/

####################################
# .NET
####################################
[Bb]in/
[Oo]bj/
[Pp]ackages/
secrets.json

####################################
# Logs & temp files
####################################
*.log
logs
rerun.txt

####################################
# Environment variables / secrets
####################################
.env
.env.*
!.env.example


####################################
# Node / React / Vite
####################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*dist-ssr

dist/
dist-ssr
build/
.vite/
.yarn-integrity
*.local


####################################
# Testing / coverage (JS)
####################################
coverage/
**/*.backup.*
**/*.back.*

####################################
# Optional: Docker
####################################
*.pid
*.seed
*.pid.lock

####################################
# Optional: Database dumps
####################################
*.dump
*.sql

